<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545824113199-p5khmtegc2t8r282os7pgdoovliqal41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545824113199-p5khmtegc2t8r282os7pgdoovliqal41</string>
	<key>API_KEY</key>
	<string>AIzaSyBwvZUvqlW4OtniTvBOdzXePUlkAgXDLmQ</string>
	<key>GCM_SENDER_ID</key>
	<string>178084966893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gomuseumApp</string>
	<key>PROJECT_ID</key>
	<string>gomuseum-29a6a</string>
	<key>STORAGE_BUCKET</key>
	<string>gomuseum-29a6a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178084966893:ios:9ae094fef5ec790eca77e4</string>
</dict>
</plist>